*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1B1464;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 18px;
}
#login{
    padding: 3px;
    border-radius: 6px;
 background-color: #1B1464;
 width: 70px;
 color: #fff;
 font-size: 13px;
 padding: 10px;
 box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}
#signup{
    padding: 3px;
    border-radius: 6px;
 background-color: #1B1464;
 width: 70px;
 color: #fff;
 font-size: 13px;
 padding: 10px;
 box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

#publish_btn{
    padding: 3px;
    border-radius: 6px;
 background-color: #1B1464;
 width: 100px;
 color: #fff;
 font-size: 13px;
 padding: 10px;
 box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); 
}
#markAttendance{
    padding: 3px;
    border-radius: 6px;
 background-color: #1B1464;
 width: 180px;
 color: #fff;
 font-size: 13px;
 padding: 10px;
 box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); 
}



/* =====header completed============ */
#sform{
        width: 260px;
        height: 270px;
        margin: 20px auto;
        background-color: #fff;
        padding: 70px;
        border-radius: 5px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 230px;
        border-radius:8px;
        font-size: 16px;
        padding: 8px;
        margin-bottom: 10px;
        outline: none;
        border: none;
        text-align: left;
        margin: 10px;
        padding-left: 17px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
    input:focus{
        border: 1px solid #1B1464;
    }
    
    button[type="submit"] {
        background-color: #1B1464;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 90px;
        font-weight: bold;
        font-size: 15px;
        box-shadow: 4px 6px 8px rgba(0, 3, 6, 0.4);
    }
    
    button[type="submit"]:hover {
        background-color:#1B1464;
        
    
    }
/* =======================================login page=== */

#loginform{
    width: 300px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
   
}
#signup{
    border-radius: 8px;
}

input[type="email"],
input[type="password"] {
    width: 230px;
    border-radius:8px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    text-align: left;
    margin: 10px;
    padding-left: 22px;
    
}
input:focus{
    border: 1px solid #1B1464;
}

button[type="submit"] {
    background-color: #1B1464;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 4px 6px 8px rgba(0, 3, 6, 0.4);
    /* margin-top: 19px; */
}

button[type="submit"]:hover {
    background-color: #7158e2;
}
#login{
    /* padding: 13px; */
    width: 90px;
    border-radius: 6px;
    box-shadow: 4px 6px 8px rgba(0, 3, 6, 0.4);
    cursor: pointer;
}
/* ====================================================================== */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html {
    max-width: 120rem;
    width: 100%;
    overflow-x: hidden !important;
    font-size: .9vw;
} */

/* body {
    width: 100%;
    overflow-x: hidden !important;
    background-color: #dfe6e9;
    font-family: cursive;
    color: yellow;
} */

.container {
    width: 70%;
    height: 45rem;
    background-color: hsl(206, 62%, 83%);
    border-radius: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

/* h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.container div {
    text-align: center;
}

.form {
    width: 100%;
    height: 29rem;
    /* border: 1px solid black; */
    /* font-size: 2rem; */
/* } */

/* input { */ 
    /* width: 80%;
    padding: 0.8rem;
    border: none;
    background-color: rgb(112, 183, 216);
    border-radius: 1rem;
    outline: none;
    font-family: cursive;
    color: white;
}

.buttons {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    /* border: 1px solid black; */
/* }

button {
    width: 10rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgb(141, 220, 159);
    border: none;
    border-radius: 0.625rem; */
    /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    color: rgb(222, 222, 13);
    font-family: cursive;
}

#footer {
    /* border: 1px solid black; */
    /* font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}
@media(max-width:1024px){
    .container {
        width: 70%;
        height: 60rem; */ 
    /* }
    .form {
        width: 100%;
        height: 24rem;
        font-size: 3.2rem;
    }
    button {
        margin-top: 18rem;
    }
    #footer{
        margin-top: 12rem;
    }
}
@media(max-width:912px){
    .container {
        height: 80rem;
    }
    .form {
        height: 26rem;
    }
}
@media(max-width:740px){
    button {
        margin-top: 18.5rem;
    }
}
@media(max-width:520px){
    .container {
        height: 30rem;
    }
    button {
        margin-top: 10.5rem;
    }
}
@media(max-width:500px){
    .container {
        height: 60rem;
    }
    button {
        margin-top: 22.5rem;
    }
}
@media(max-width:460px){
    .container {
        height: 70rem;
    }
    button {
        margin-top: 24.5rem;
    }
}
@media(max-width:414px){
    .form {
        height: 30rem;
    }
    input {
        width: 80%;
        padding: 0.001rem;
    }
    button {
        width: 10rem;
        margin-top: 3.5rem;
    }
} */